@import "tailwindcss";
@keyframes blinkGlow {
  0%,
  100% {
    box-shadow: 0 0 0 rgba(16, 185, 129, 0);
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 25px rgba(16, 185, 129, 0.9);
    transform: scale(1.03);
  }
}

.blink-highlight {
  animation: blinkGlow 1s ease-in-out 3;
  border-color: rgb(16 185 129);
}
